@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Jogo da Velha</title>
    <link href="~/Content/JogoDaVelha.css" rel="stylesheet" />
    <script src="~/Scripts/JogoDaVelha.js"></script>
</head>
    <body id="body" onresize="Ajusta();" onload="Ajusta();">
        <div id="divGeral">
            <h1 id="vencedor" align="center"></h1>
            <div class="titulo">Jogo da Velha</div>
            <div class="jogo">
                <span id="div1" class="box"></span>
                <span id="div2" class="box"></span>
                <span id="div3" class="box"></span>
                <span id="div4" class="box"></span>
                <span id="div5" class="box"></span>
                <span id="div6" class="box"></span>
                <span id="div7" class="box"></span>
                <span id="div8" class="box"></span>
                <span id="div9" class="box"></span>
            </div>
        </div>
    </body>
</html>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/SignalR")
<script src="~/signalr/hubs"></script>
<script>
    var cor = "red";
    $(function () {
        var jogoVelha = $.connection.jovoVelha;

        $.connection.hub.start();


        jogoVelha.client.marcaDiv = function (nome) {
            $("#" + nome).css("background-color", cor);
            $("#" + nome).addClass(cor);
            if (Vitoria()) {
                $('#vencedor').html("Jogador " + (cor == "lime" ? "Verde" : "Vermelho") + " Ganhou !");
            }
            cor = cor == "red" ? "lime" : "red";

            
        }

        $('.box').click(function () {
            jogoVelha.server.marcar($(this).attr('id'));
            
        });

        jogoVelha.client.disativaJogada = function() {
            $('.jogo').css('pointerEvents', 'none');
        }

        jogoVelha.client.ativaJogada = function () {
            $('.jogo').css('pointerEvents', 'auto');
        }

    });



    function Vitoria() {
        var boxs = document.getElementsByClassName('box');
        if (/*1ª Horizontal*/(boxs[0].className != 'box' && boxs[0].className == boxs[1].className && boxs[1].className == boxs[2].className) ||
            /*2ª Horizontal*/(boxs[3].className != 'box' && boxs[3].className == boxs[4].className && boxs[4].className == boxs[5].className) ||
            /*3ª Horizontal*/(boxs[6].className != 'box' && boxs[6].className == boxs[7].className && boxs[7].className == boxs[8].className) ||
            /*1ª Vertical  */(boxs[0].className != 'box' && boxs[0].className == boxs[3].className && boxs[3].className == boxs[6].className) ||
            /*2ª Vertical  */(boxs[1].className != 'box' && boxs[1].className == boxs[4].className && boxs[4].className == boxs[7].className) ||
            /*3ª Vertical  */(boxs[2].className != 'box' && boxs[2].className == boxs[5].className && boxs[5].className == boxs[8].className) ||
            /*1ª Diagonal  */(boxs[0].className != 'box' && boxs[0].className == boxs[4].className && boxs[4].className == boxs[8].className) ||
            /*2ª Diagonal  */(boxs[2].className != 'box' && boxs[2].className == boxs[4].className && boxs[4].className == boxs[6].className)){
            return true;
        }
		
        return false;
    }
</script>
