@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <input class="btn btn-default" type="button" id="" value="Jogar Truco" onclick="CarregarModal('Index','Truco')">
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Cadastro Credito", "CtrlFinanceiro", "CtrlFinanceiro", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        @*<input class="btn btn-default" type="button" id="" value="Jogar NovoTruco" onclick="CarregarModal('NovoTruco', 'NovoTruco')">*@
        @Html.ActionLink("Jogar Novo Truco", "NovoTruco", "NovoTruco", null, new { @class = "btn btn-default" })
    </div>
    <div id="testeDivm">
        <div class="fffT"></div>
        <div class="fffT"></div>
        <div class="fffT"></div>
        <div class="fffT"></div>
        <div class="cccc"></div>
    </div>
    <div class="col-md-4">
        <input class="btn btn-default" type="button" id="xcxcx" value="Jogar Truco">
    </div>
</div>

<script>
    function CarregarModal(act, ctrl) {
        $.get("../Home/ModalLgin", { metodo: act, controle: ctrl }).success(function (data) {
            $('#divModal2').html(data);
            $('#divModal2').show();
            $('#txtName').focus();
        });
    }
    console.log($('#testeDivm .fffT').length);
    console.log($('#testeDivm .cccc').length);

    $('#xcxcx').click(function () {
        $('#testeDivm div[class~="fffT"]:nth-child(1)').remove();
        console.log($('#testeDivm .fffT').length);
        console.log($('#testeDivm .cccc').length);
    })
    

</script>
